<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resident Dashboard</title>
</head>
<body>
    <h2>Report Waste Collection</h2>
    <form action="/report-waste-collection" method="POST">
        <label for="collection">collection</label>
        <input type="text" id="collection" name="collection" required>
        <input type="submit" class="submit" name="Submit" Submit/>
    </form>
</body>
</html>