<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resident Dashboard</title>
    <link rel="stylesheet" href="static/resident-dashboard.css">
</head>
<body>
    <div class="container">
        <h2>Request for Waste Collection</h2>
        <form action="/resident-dashboard" method="POST">
            <label for="userId">User ID</label>
            <input type="text" name="userId" id="userId" placeholder="Enter User ID" required>
            <br>
            <label for="location">Location</label>
            <input type="text" name="location" id="location" placeholder="Enter Location" required>
            <br>
            <label for="quantity">Quantity (No of bags)</label>
            <input type="number" name="quantity" min="1" id="quantity" placeholder="Enter Quantity" required>
            <br>
            <button type="submit">Submit Request</button>
        </form>
    </div>
</body>
</html>
